body{
    background-image: url("../img/logo\ chico\ gris.png");
    background-size: 20px;
    /*background-color: rgb(220, 218, 218);*/
    
}


#convenioFinalizado{
  

    border: .5px solid #d8cdcd;
    box-shadow: 2px 3px 10px #d8cdcd;
    border-radius: 15px;
    /*position: absolute;
    top: 8%;
    left: 8%;
    transform:  scaleX(0.8); 
    transform:  scaleY(0.8); */
  
    
}
.sombra {
  float:left;
  background-color: #A7A7A7;
  
}




/* Style The Dropdown Button */
.nav-link {
    
    padding: 15px 15px;
    font-size: 14px;
    border-radius: 6px;
    margin-right: 30px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;	
    
   
    -webkit-border-radius: 28;
    -moz-border-radius: 28;

    outline: none;
    position: relative;
	  display: block;
	
	max-width: 150px;
	height: 50px;
	overflow: hidden;
	
	
	letter-spacing: 1px;
	
	text-decoration: none;
	transition: all ease 0.5s;

  }
  a.nav-link:after,
a.nav-link:before{
    
	width: 80px;
	height: 300px;
	content: '';
	display: block;
	background: rgba(255, 255, 255, 0.5);
    
	transform: rotate(45deg);
  top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
}

a.nav-link:before{
	left: -200%;
}
 
a.nav-link:hover{
	color: #fff;
	background:#0F9FA8
}
 
a.nav-link:hover:after,
a.nav-link:hover:before{
    color: #fff;
	transform: rotate(45deg), scaleX(130%);
	background: #00000027;
	transition: all ease 0.5s;
}
 
a.nav-link:hover:after{
	right: 130%;
}
 
a.nav-link:hover:before{
	left: 130%;
}
  
 
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-menu a {
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-menu a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .nav-item:hover .dropdown-menu {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .nav-item:hover .nav-link {
    background-image: -webkit-linear-gradient(top, #fff, #0F9FA8);
    
  }
  

  .alert{
    right: 0;
    top: 0;
    position: fixed;
    display:flex;
    align-items: right;

    /*Chrome, Safari*/
    -webkit-transition: width 8ms linear 1s;
    /*Firefox*/
    -moz-transition: width 8ms linear 1s;
    /*Opera*/
    -o-transition: width 8ms linear 1s;
    /*Standard*/
    transition: width 8ms linear 1s;
    animation-duration: 1.5s;
    animation-name: slidein;
    

  }
  @keyframes slidein {
    from {
      margin-right: -30%;
     
      
    }
  
    to {
      margin-right: 0%;
      
     
    }
  }

label{
  display: none;

  }

  @media screen and (max-width: 600px) {
    .alert{
      right: 0;
      top: 13% !important;
      position: fixed;
      display:flex;
      align-items: right;
  
      /*Chrome, Safari*/
      -webkit-transition: width 8ms linear 1s;
      /*Firefox*/
      -moz-transition: width 8ms linear 1s;
      /*Opera*/
      -o-transition: width 8ms linear 1s;
      /*Standard*/
      transition: width 8ms linear 1s;
      animation-duration: 1.5s;
      animation-name: slidein;
      
  
    }
    @keyframes slidein {
      from {
        margin-right: -30%;
       
        
      }
    
      to {
        margin-right: 0%;
        
       
      }
    }

    #footer {
      width: 100%;
      height: 81px;
      position: absolute;
      bottom: 0;
      left: 0;
  }
    
  }


  