{% extends 'base.html.twig' %}

{% block title %}UNRaf{% endblock %}

{% block body %}
              
    {{parent()}}
<link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link href="{{asset("css/estilos.css")}}" rel="stylesheet" type="text/css">

    {% block footer %}
    <footer class="footer page-footer font-small blue " style="width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;">
        <div class="container-fluid text-center text-md-left">

            <div class="container text-right">
            
            <a href="https://soporte.unraf.edu.ar/front/central.php"><i class="fas fa-headset fa-5x" style=" color: #C70039"></i> </a>
            <div style = "visibility: hidden">By Lucas Emanuel Bauducco 2021</div>
        </div>

    </footer>
      
{% endblock %}
    
{% endblock %}
{% block javascripts %}
              <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-search-pseudo-elements></script>
{% endblock %} 




