{% extends 'base.html.twig' %}

{% block title %}Convenio Imputado{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}
<h1 class = "text-center text-info">{{convenio.getEmpresa().getNombre()}}</h1>
<div class ="container bg-white" id="convenioFinalizado" >
                <h1 class = "text-center mt-2 text-info">Convenio Imputado</h1> 
                {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                 <div class="row ">
                            
                        <div class="col-sm-6 mt-3">
                            <div class = "container ">
                                    <h6 class = "text-left text-info">Area Actual</h6>
                                     {{ form_widget(formulario.ultimaArea, {attr: {class: 'form-control camposEstandar', placeholder: 'Area Encargada'}})}}
                            </div>
                        </div>
                        <div class="col-sm-6 mt-3">
                            
                            <div class = "container ">
                                  <h6 class = "text-center text-info">¿Convenio Imputado?</h6>
                                    {{ form_widget(formulario.archivarConvenioaEmpresa) }}
                                
                            </div>
                        </div>
                </div>

                <div class="row ">
                            
                        <div class="col-sm-6 mt-3">
                            <div class = "container ">
                                    <h5 class = "text-left text-info">Siguiente paso a realizar - Finalizacion carga del Convenio </h5>
                                        <h6 class = "text-left text-info">Area Encargada</h6>
                                        {{ form_widget(formulario.areaSiguiente, {attr: {class: 'form-control camposEstandar', placeholder: 'Area Siguiente'}})}}
                            </div>
                        </div>
                        <div class="col-sm-6 mt-3">
                            
                            <div class = "container ">
                                     
                            </div>
                        </div>
                </div>
                <div class="row ">
                            
                        <div class="col-sm-4 mt-3">
                            <div class = "container text-center">
                                    <a href="{{path('imputacionConvenio',{'id': convenio.id})}}" class="btn btn-outline-info btn-lg" role="button">Atras</a>
                                   
                                    
                                    
                            </div>
                        </div>
                        <div class="col-sm-4 mt-3">
                            
                            <div class = "container text-center ">
                                
                                    
                                    
                                
                            </div>
                        </div>
                         <div class="col-sm-4 mt-3">
                            
                            <div class = "container text-center ">
                                     {{ form_widget(formulario.Finalizar, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
                                    
                                    
                                
                            </div>
                        </div>
                        
                </div>
               
                <div class = "container mt-3 mb-3 text-center" align="left">
                        <div class="row mt-2">
                            <div class="col-sm-12">
                                 <div class = "container ">
                                   <div class="progress" style="height: 40px; margin-top: 50px;">
                                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="110" aria-valuemin="0" aria-valuemax="100">85%</div>
                                </div>
                                

                        
                            </div>
                        </div>
                        
                    </div>
                </div>
    {{ form_end(formulario) }}
            <br>
</div> 
<br><br>
{% endif %} 
{% endblock %}