{% extends 'base.html.twig' %}

{% block title %}Cargar Datos del Convenio{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}
   <h1 class = "text-center text-info">{{convenio.getEmpresa().getNombre()}}</h1>
<div class ="container bg-white" id="convenioFinalizado" >
                <h1 class = "text-center mt-2 text-info">Cargar Datos del Convenio</h1> 
                {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                 <div class="row ">
                            
                        <div class="col-sm-6 mt-3">
                            <div class = "container ">
                                    <h6 class = "text-left text-info">Area Actual</h6>
                                        {{ form_widget(formulario.ultimaArea)}}
                            </div>
                        </div>
                        <div class="col-sm-6 mt-3">
                            
                            <div class = "container ">
                                    <h6 class = "text-left text-info">Fecha Renovación</h6>
                                    {{ form_widget(formulario.fechaRenovacion)}}
                                
                            </div>
                        </div>
                </div>
                <div class="row ">
                            
                        <div class="col-sm-6 mt-3">
                            <div class = "container ">
                                    <h6 class = "text-left text-info">Fecha Inicio del Convenio</h6>
                                        {{ form_widget(formulario.fechaInicio)}}
                            </div>
                        </div>
                        <div class="col-sm-6 mt-3">
                            
                            <div class = "container ">
                                    <h6 class = "text-left text-info">Fecha Finalización del Convenio </h6>
                                    {{ form_widget(formulario.fechaFin)}}
                                
                            </div>
                        </div>
                </div>
                <div class="row ">
                            
                        <div class="col-sm-6 mt-3">
                            <div class = "container ">
                                    <h6 class = "text-left text-info">Tipo de Renovación</h6>
                                        {{ form_widget(formulario.isRenovacionAutomatica)}}
                            </div>
                        </div>
                        <div class="col-sm-6 mt-3">
                            
                            <div class = "container ">
                                    <h6 class = "text-left text-info">Cargar Archivo Convenio </h6>
                                    {{ form_widget(formulario.documentoConvenio)}}
                                
                            </div>
                        </div>
                </div>
                 <div class="row ">
                            
                        <div class="col-sm-6 mt-3">
                            <div class = "container ">
                                   <h5 class = "text-left text-info">Siguiente paso a realizar - Archivar Convenio</h5>
                                            <h6 class = "text-left text-info">Area Encargada</h6>
                                            {{ form_widget(formulario.areaSiguiente)}}
                            </div>
                        </div>
                        <div class="col-sm-6 mt-3">
                            
                            <div class = "container ">
                                   
                                
                            </div>
                        </div>
                </div>
                
                <div class="row ">
                            
                        <div class="col-sm-4 mt-3">
                            <div class = "container text-center">
                                   
                                   <a href="{{path('cargarDatosExpediente',{'id': convenio.id})}}" class="btn btn-outline-info btn-lg" role="button">Atras</a>
                                    
                                    
                            </div>
                        </div>
                        <div class="col-sm-4 mt-3">
                            
                            <div class = "container text-center ">
                                    
                                    
                                    
                                
                            </div>
                        </div>
                         <div class="col-sm-4 mt-3">
                            
                            <div class = "container text-center ">
                                    
                                     {{ form_widget(formulario.Siguiente, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
                                    
                                
                            </div>
                        </div>
                        
                </div>
               
                <div class = "container mt-3 mb-3 text-center" align="left">
                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <div class = "container ">
                                    <div class="progress" style="height: 40px; margin-top: 50px;">
                                        <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="110" aria-valuemin="0" aria-valuemax="100">40%</div>
                                    </div>
                                </div>

                        
                            </div>
                        </div>
                        
                    </div>
               
{{ form_end(formulario) }}
            <br>
</div> 
<br><br>
{% endif %} 
{% endblock %}