{% extends 'base.html.twig' %}

{% block title %}Ver Convenios Inactivos{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}
<div class='container-fluid'>
<h2 style="text-align: center; color: #0F9FA8">Ver Convenios Inactivos</h2>
    <table class="table table-striped">
            <thead>
                <tr style="background-color: #0F9FA8">
                    <th scope="col">Nombre Empresa</th>
                    <th scope="col">Area Precedente</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Area Actual</th>
                    <th scope="col">¿Convenio Firmado?</th>
                    <th scope="col">Fecha Modificacion</th>
                    <th scope="col">Ultimo Usuario</th>
                                        
                    <th scope="col">Ver Convenio</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for convenios in convenio %}
                    <tr>
                                                
                            <td>{{ convenios.empresa.getNombre() }}</td>
                            <td>{{ convenios.ultimaArea.getNombre()}}</td> 
                            <td>{{ convenios.fechaInicio|date('d-m-Y') }}</td>
                            <td>{{ convenios.areaSiguiente.getNombre}}</td>
                            <td>{{ convenios.estadoConvenio}}</td>     
                            <td>{{ convenios.fechaModificacion|date('d-m-Y')}}</td>
                        <td>{{ convenios.ultimoUsuario}}</td>                   
                            <td><a href="{{path('verConvenio',{'id': convenios.id})}}"><i class="far fa-file fa-2x" style="color:#FEB413;"></i></a></td>
                            <td><a href="{{path('eliminarConvenio',{'id': convenios.id})}}" onclick="return confirm('Esta seguro que desea eliminar los datos')"><i class="fas fa-trash-alt fa-2x"  style=" color:#FF0000"></i></a></td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class = "container mt-5 text-center" align="left">
            <a href="{{path('inicio')}}" class="btn btn-outline-info btn-lg" role="button">VOLVER</a>
        </div>
</div>
{% endif %} 
{% endblock %}