{% extends 'base.html.twig' %}

{% block title %}Ver Convenios a Renovar{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}
<div class='container-fluid'>
<h2 style="text-align: center; color: #0F9FA8">Ver Convenios a Renovar</h2>
    <table class="table table-striped">
            <thead>
                <tr style="background-color: #0F9FA8">
                    <th scope="col">Nombre Empresa</th>
                    <th scope="col">Fecha de Renovacion</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Modificacion</th>
                    <th scope="col">Ultimo Usuario</th>
                               
                    <th scope="col">Actualizar</th>        
                    <th scope="col">Ver Convenio</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for convenioaRenovars in convenioaRenovar %}
                    <tr>
                                                
                            <td>{{ convenioaRenovars.empresa.getNombre() }}</td>
                            <td>{{ convenioaRenovars.fechaRenovacion|date('d-m-Y') }}</td> 
                            <td>{{ convenioaRenovars.fechaInicio|date('d-m-Y') }}</td>
                            <td>{{ convenioaRenovars.fechaModificacion|date('d-m-Y')}}</td>
                            <td>{{ convenioaRenovars.ultimoUsuario}}</td>  
                            <td><a href="{{path('modificarFechaRenovacionConvenio',{'id': convenioaRenovars.id})}}}"><i class="far fa-edit fa-2x" style=" color:#23C200"></i></a></td>
                            <td><a href="{{path('verDatosConvenioFinalizado',{'id': convenioaRenovars.id})}}"><i class="far fa-file fa-2x" style="color:#FEB413;"></i></a></td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class = "container mt-5 text-center" align="left">
            <a href="{{path('inicio')}}" class="btn btn-outline-info btn-lg" role="button">VOLVER</a>
        </div>
</div>
{% endif %} 
{% endblock %}