{% extends 'base.html.twig' %}

{% block title %}Recepción Convenio{% endblock %}

{% block body  %} 

{% if is_granted('ROLE_ADMIN') %}
{{parent()}}
<h1 class = "text-center mt-2 text-info">Nuevo Convenio</h1> 
<div class ="container bg-white" id="convenioFinalizado" >
                <h1 class = "text-center mt-2 text-info">Recibir Documentación</h1> 
                {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                    <div class="row ">
                            
                        <div class="col-sm-6 mt-3">
                            <div class = "container ">
                                    <h6 class = "text-left text-info">Organización</h6>
                                    {{ form_widget(formulario.empresa)}}
                                    <a href="{{path('registroEmpresa')}}" class="btn btn-outline-info  mt-2" role="button">Nueva Organización</a>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-3">
                            
                            <div class = "container ">
                                    <h6 class = "text-left text-info">Area Actual</h6>
                                    {{ form_widget(formulario.ultimaArea)}}
                                
                            </div>
                        </div>
                    </div>
                   
                    <div class="row ">
                            
                        <div class="col-sm-6 mt-3">
                            <div class = "container ">
                            <h5 class = "text-left text-info">Siguiente paso a realizar - Solicitar Firma de Rectorado </h5>
                                <h6 class = "text-left text-info">Area Encargada</h6>
                                            
                                            {{ form_widget(formulario.areaSiguiente)}}
                                
                            </div>
                        </div>
                        <div class="col-sm-6 mt-5">
                            
                            <div class = "container ">
                                <h6 class = "text-center text-info">¿Recibimos el convenio firmado?</h6>
                                 {{ form_widget(formulario.recibirConvenioFirmado)}}
                                        
                                
                            </div>
                        </div>
                    </div>

                   
                    <div class = "container mt-3 mb-3 text-center" align="left">
                        <div class="row mt-2">
                            <div class="col-sm-4">
                                <div class = "container ">
                                    
                                </div>
                            
                            </div>
                            <div class="col-sm-4">
                                <div class = "container mt-2 ">
                                    {{ form_widget(formulario.INICIAR, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
                                </div>
                            </div>
                        
                        </div>
                        <div class="col-sm-4">
                                <div class = "container ">
                                    
                                </div>
                            
                            </div>
                        
                        
                    </div>

                    <div class = "container mt-3 mb-3 text-center" align="left">
                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <div class = "container ">
                                    <div class="progress" style="height: 40px; margin-top: 50px;">
                                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="110" aria-valuemin="0" aria-valuemax="100">0%</div>
                                    </div>
                            
                                </div>

                        
                            </div>
                        </div>
                        
                    </div>
               



            {{ form_end(formulario) }}
            <br>
            
             


</div>
<br><br>
{% endif %} 
{% endblock %}
{% block javascripts %}
            
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
            <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-search-pseudo-elements></script>  
            
{% endblock %} 
