{% extends 'base.html.twig' %}

{% block title %}Datos Convenio{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}
<div class="container text-center bg-white" id="convenioFinalizado">
        <div class="container-fluid">
            <div class="row" style="margin-top: 5%;">
                 <div class="col-sm-12 bg-info">
                        <div class="well">
                            <h1 class = "font-weight-bold text-center text-white">{{convenio.getEmpresa().getNombre()}}</h1>
                        </div>
                    </div>

               
                
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="well" style="margin-top: 5%;">
                    
                        <i class="fas fa-building fa-5x"></i>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    
                       <div class="well" style="margin-top: 5%;">
                        <a href="{{path('verDatosEmpresa',{'id': convenio.getEmpresa().getId()})}}" class="btn btn-outline-info btn-lg" role="button">Ver Datos de la Organización</a>
                        </div>
                </div>
                <div class="col-sm-2">
                    
                        <i class="fas fa-calendar-week fa-5x"></i>
                       <p>Título Expediente</p>
                </div>
                <div class="col-sm-4">
                    
                        <div class="well bg-info" style="margin-top: 5%;">
                        <h3 class = "font-weight-bold text-center text-white">{{convenio.getTituloExpediente()}}</h3>
                        </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-2">
                    <div class="well"style="margin-top: 5%;">
                         <i class="fas fa-book fa-5x"></i>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well bg-info" style="margin-top: 5%;">
                       <h3 class = "font-weight-bold text-center text-white">{{convenio.getNumeroExpediente()}}</h3>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well"style="margin-top: 5%;">
                         <i class="fas fa-info fa-5x"></i>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well bg-info" style="margin-top: 5%;">
                        <h3 class = "font-weight-bold text-center text-white">{{convenio.getIsRenovacionAutomatica()}}</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="well"style="margin-top: 5%;">
                          <i class="fas fa-hourglass-start fa-5x"></i>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well bg-info" style="margin-top: 5%;">
                       <h3 class = "font-weight-bold text-center text-white">{{convenio.getFechaInicio()|date('d-m-Y')}}</h3>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well"style="margin-top: 5%;">
                         <i class="fas fa-hourglass-end fa-5x"></i>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well bg-info" style="margin-top: 5%;">
                         <h3 class = "font-weight-bold text-center text-white">{{convenio.getFechaFin()|date('d-m-Y')}}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="well"style="margin-top: 5%;">
                          <i class="far fa-hourglass fa-5x"></i>
                            <p>Fecha de  Renovación</p>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well bg-info" style="margin-top: 5%;">
                       <h3 class = "font-weight-bold text-center text-white">{{convenio.getFechaRenovacion()|date('d-m-Y')}}</h3>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well"style="margin-top: 5%;">
                         <i class="fas fa-clipboard-check fa-5x"></i>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well bg-info" style="margin-top: 5%;">
                        <h3 class = "font-weight-bold text-center text-white">{{convenio.getEstadoConvenio()}}</h3>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-sm-2">
                    <div class="well"style="margin-top: 5%;">
                           <i class="fas fa-envelope-open-text fa-5x"></i>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                   <div class="well" style="margin-top: 5%;">
                        <a href="{{path('verPDFDocumentoConvenio', {'id': convenio.id})}}"  class="btn btn-outline-info btn-lg" target="_blank">Convenio</a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well"style="margin-top: 5%;">
                         
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    
                </div>
            </div>


           
            
        </div>
        <br>
    </div>





    <div class="container text-center bg-white mt-2" id="convenioFinalizado">
        <div class="container-fluid">
         <h1 class = "font-weight-bold text-center text-info">Fecha Trámite</h1>
            <div class="row">
                <div class="col-sm-2">
                    <div class="well"style="margin-top: 5%;">
                           <i class="fas fa-hourglass-start fa-5x"></i>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well bg-info" style="margin-top: 5%;">
                      <h3 class = "font-weight-bold text-center text-white">{{convenio.FechaInicioTramite()|date('d-m-Y')}}</h3>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well "style="margin-top: 5%;">
                          <i class="fas fa-hourglass-end fa-5x"></i>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well bg-info" style="margin-top: 5%;">
                       <h3 class = "font-weight-bold text-center text-white">{{convenio.getFechaFinTramite()|date('d-m-Y')}}</h3>
                    </div>
                </div>
            </div>
            
        </div>
        <br>
    </div>
    
    <div class="container text-center" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="container-fluid">
             <a href="javascript:history.back()" class="btn btn-outline-info btn-lg" role="button">VOLVER</a>
        </div>
    </div>





    {% endif %} 

{% endblock %}
{% block javascripts %}
              <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-search-pseudo-elements></script>
                
{% endblock %} 

