{% extends 'base.html.twig' %}

{% block title %}Cargar Factura{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}    
    <div class="container h-100">
         <div class="row h-100 justify-content-center align-item-center">
                <div class="col-10 bg-white rounded my-3 p-5">
                        <div class ="container mt-5">
            
                            <h1 class = "text-center text-info">Cargar Factura</h1>
                            <div class="container text-center" id="convenioFinalizado">
                                
                                <div class="container">
                                    {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                                    
                                    <div class = "container mt-5">
                                        <h6 class = "text-left text-info">Cargar Factura</h6>
                                        {{ form_widget(formulario.factura)}}

                                    </div>
                                    
                                    <div class = "container mt-5 text-center" align="left">
                                        {{ form_widget(formulario.Guardar)}}
                                        <a href="{{path('listarPagoporPasantiaPasante',{'id': pago.getPasante().getId(),'idPasantia': pasantia.id})}}" class="btn btn-outline-info btn-lg" role="button">Volver</a>
                                    </div>
                                    {{ form_end(formulario) }}
                                   
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
</div>
{% endif %} 
{% endblock %}