{% extends 'base.html.twig' %}

{% block title %}Ver Pagos del Pasante{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}  
<div class='container my-3'>
    <h2 class="text-center text-info">Ver Pago {{pasante.getNombre()}} {{pasante.getApellido()}}</h2>


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Fecha Pago</th>
                <th scope="col">Mes Abonado</th>
                <th scope="col">Procentaje de Cobro</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha Modificacion</th>
                <th scope="col">Ultimo Usuario</th>
                
                
                
                {#<th scope="col">Fecha Modificacion</th>
                <th scope="col">Ultimo Usuario</th>#}
               
                <th scope="col">Ver Pago</th>
                
                
            </tr>
        </thead>
        <tbody>
            {% for pagos in pago %}
                <tr>
                                            
                    <td>{{ pagos.fechaPago|date('d-m-Y') }}</td>
                    <td>{{ pagos.mesAbonado}}</td>
                    <td>{{ pagos.porcentajedeCobro}}</td>
                     <td>{{ pagos.EstadoPago}}</td>
                    <td>{{ pagos.fechaModificacion|date('d-m-Y')}}</td>
                        <td>{{ pagos.ultimoUsuario}}</td>  
                        
                        
                      
                       <td><a href="{{path('verDatosPago', {'id': pagos.id,'idPasantia':pasantia.id})}}"><i class="far fa-file fa-2x" style="color:#FEB413;"></a></td>
                       
                       
                    </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class = "container mt-5 text-center" align="left">
        <a href="{{path('verDatosPasantiaInactiva',{'id': pasantia.id})}}" class="btn btn-outline-info btn-lg" role="button">VOLVER</a>
    </div>
</div>
{% endif %} 
{% endblock %}
{% block javascripts %}
              <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-search-pseudo-elements></script>
                
{% endblock %} 