{% extends 'base.html.twig' %}

{% block title %}Datos Pago{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}
<div class="container text-center bg-white" id="convenioFinalizado">
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 bg-info mt-3">
                        <div class="well">
                            <h1 class = "font-weight-bold text-center text-white ">Pago {{pago.getMesAbonado()}}</h1>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="well"style="margin-top: 5%;">
                       <h3 class = "text-info">Fecha:</h3>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well bg-info"style="margin-top: 5%;">
                       <h3 class = "font-weight-bold text-center text-white">{{pago.getFechaPago()|date('d-m-Y')}}</h3>
                    </div>
                </div>
                    <div class="col-sm-7">
                    <div class="well" style="margin-top: 1%;">
                       <h3 class = "font-weight-bold text-center text-white"><a href="{{path('verDatosPasante',{'id': pago.getPasante().id})}}" class="btn btn-outline-info btn-lg" role="button">{{pago.getPasante().getNombre()}} {{pago.getPasante().apellido}}</a></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="well"style="margin-top: 1%;">
                        <h3 class = "text-info">Monto Abonado</h3>
                    </div>
                </div>
                    <div class="col-sm-2">
                        <div class="well"style="margin-top: 5%;">
                        <i class="fas fa-dollar-sign fa-2x" ></i>
                        </div>
                    </div>
                        <div class="col-sm-2">
                            <div class="well bg-info" style="margin-top: 5%;">
                            <h3 class = "font-weight-bold text-center text-white">{{pago.getTotalAbonado()}}</h3>
                            </div>
                        </div>
            </div>
             <div class="row">
                <div class="col-sm-8">
                    <div class="well"style="margin-top: 1%;">
                        <h3 class = "text-info">%</h3>
                    </div>
                </div>
                    <div class="col-sm-2">
                        <div class="well"style="margin-top: 5%;">
                        <i class="fas fa-percent fa-2x"></i>
                        </div>
                    </div>
                        <div class="col-sm-2">
                            <div class="well bg-info" style="margin-top: 5%;">
                            <h3 class = "font-weight-bold text-center text-white">{{pago.getPorcentajedeCobro()}}</h3>
                            </div>
                        </div>
            </div>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>


            <div class="row">
                <div class="col-sm-8">
                        
                </div>
                <div class="col-sm-2">
                        <div class="well"style="margin-top: 5%;">
                            <h3 class = "text-info">Total</h3>
                        </div>
                </div>
                <div class="col-sm-2">
                    <div class="well bg-info" style="margin-top: 5%;">
                       <h3 class = "font-weight-bold text-center text-white">{{pago.TotalaCobrar()}}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="well" >
                       <h3 class = "pagoCss">{{pago.getEstadoPago()}}</h3>
                    </div>
                        
                </div>
            
                <div class="col-sm-10">
                    
                </div>
            </div>
           
            
        </div>
    </div>

    <div class="container text-center bg-white mt-3 mb-3" id="convenioFinalizado">
        <div class="container-fluid">
         <h1 class = "font-weight-bold text-center text-info">Archivos</h1>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well"style="margin-top: 5%;">
                        <i class="far fa-file-alt fa-5x"></i>
                        <p>Comprobante de Pago</p>
                    </div>
                    </div>
                    <div class="col-sm-9">
                    <div class="well" style="margin-top: 5%;">
                        <a href="{{path('verPDFComprovantedePago', {'id': pago.id})}}"  class="btn btn-outline-info btn-lg" target="_blank">{{pago.getComprobantePago()}}</a>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well"style="margin-top: 5%;">
                        <i class="far fa-file-alt fa-5x"></i>
                        <p>Factura</p>
                    </div>
                    </div>
                    <div class="col-sm-9">
                    <div class="well" style="margin-top: 5%;">
                       <a href="{{path('verPDFFactura', {'id': pago.id})}}"  class="btn btn-outline-info btn-lg" target="_blank">{{pago.getFactura()}}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well mb-3"style="margin-top: 5%;">
                        <i class="far fa-file-alt fa-5x"></i>
                        <p>Nota de Crédito</p>
                    </div>
                    </div>
                    <div class="col-sm-9">
                    <div class="well mb-3" style="margin-top: 5%;">
                       <a href="{{path('verPDFNotadeCredito', {'id': pago.id})}}"  class="btn btn-outline-info btn-lg" target="_blank">{{pago.getNotadeCredito()}}</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    
    <div class="container text-center mt-3" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="container-fluid">
             <a href="javascript:history.back()" class="btn btn-outline-info btn-lg" role="button">VOLVER</a>
        </div>
    </div>
{% endif %} 
{% endblock %}
{% block javascripts %}
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-search-pseudo-elements></script>
                
                <script>
                   var elementos = '{{pago.getEstadoPago()}}'; 
                    
                    var miElto = document.getElementsByClassName("pagoCss")[0];
                    
                    if(elementos=='Pagado'){
                         miElto.className = "pagoCss bg-warning font-weight-bold text-center text-white";
                    }
                    if(elementos== 'Facturado'){
                         miElto.className = "pagoCss bg-success font-weight-bold text-center text-white";
                    }
                    if(elementos== 'No Abonado'){
                        miElto.className = "pagoCss bg-danger font-weight-bold text-center text-white";
                    }
                    

                    
                    
                </script>
{% endblock %} 