{% extends 'base.html.twig' %}

{% block title %}Registrar Departamento Administrativo{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}  
{{parent()}}

<div class="container-fluid"  >

            <div class ="container bg-white" id="convenioFinalizado" >
                <h1 class = "text-center mt-2 text-info">Registro de Departamentos Administrativos</h1> 
                {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                    <div class="row ">
                        
                        <div class="col-sm-6 mt-3">
                            <div class = "container ">
                                <h6 class = "text-left text-info">Nombre</h6>
                                {{ form_widget(formulario.nombre, {attr: {class: 'form-control camposEstandar', placeholder: 'Nombre'}})}}
                            </div>
                        </div>
                        <div class="col-sm-6 mt-3">
                            
                            <div class = "container ">
                                <h6 class = "text-left text-info">Encargado</h6>
                                {{ form_widget(formulario.encargado, {attr: {class: 'form-control camposEstandar', placeholder: 'Encargado'}})}}
                                
                            </div>
                        </div>
                    </div>
                        <div class="row ">
                                <div class="col-sm-6 mt-3">
                                    <div class = "container ">
                                        <h6 class = "text-left text-info">Telefono</h6>
                                        {{ form_widget(formulario.telefono, {attr: {class: 'form-control camposEstandar', placeholder: 'Telefono'}})}}
                                    </div>
                                </div>
                                <div class="col-sm-6 mt-3">
                                    <div class = "container ">
                                        <h6 class = "text-left text-info">Email</h6>
                                        {{ form_widget(formulario.email, {attr: {class: 'form-control camposEstandar', placeholder: 'Email'}})}}
                                    </div>
                                </div>
                        </div>    
                

                    <div class = "container mt-3 mb-3 text-center" align="left">
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <div class = "container ">
                                    {{ form_widget(formulario.GUARDAR, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
                                </div>
                            
                            </div>
                            <div class="col-sm-6">
                                <div class = "container mt-2 ">
                                    <a href="{{path('inicio')}}" class="btn btn-outline-info btn-lg" role="button">VOLVER</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
            
                    
                {{ form_end(formulario) }}
                <br>
    </div>
</div>
{% endif %} 
{% endblock %}
{% block javascripts %}
              <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-search-pseudo-elements></script>
                
{% endblock %} 