{% extends 'base.html.twig' %}

{% block title %}Ver Departamentos Administrativos{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}  
{{parent()}}
<div class='container-fluid'>
<h2 style="text-align: center; color: #0F9FA8">Ver Departamentos  Administrativos</h2>
    <table class="table table-striped">
        <thead>
            <tr style="background-color: #0F9FA8">
                <th scope="col">Nombre</th>
                <th scope="col">Encargado</th>
                <th scope="col">Telefono</th>
                <th scope="col">Email</th>
                <th scope="col">Fecha Modificacion</th>
                <th scope="col">Ultimo Usuario</th>
                                    
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for areaUnRafs in areaUnRaf %}
                <tr>
                                            
                    <td>{{ areaUnRafs.nombre }}</td>
                        <td>{{ areaUnRafs.encargado }}</td>
                        <td>{{ areaUnRafs.telefono }}</td>
                        <td>{{ areaUnRafs.email }}</td>
                        <td>{{ areaUnRafs.fechaModificacion|date('d-m-Y')}}</td>
                        <td>{{ areaUnRafs.ultimoUsuario}}</td>                   
                        <td><a href="{{path('modificarAreaUnRaf', {'id': areaUnRafs.id})}}"><i class="far fa-edit fa-2x" style=" color:#23C200"></i></a></td>
                        <td><a href="{{path('eliminarAreaUnRaf', {'id': areaUnRafs.id})}}" onclick="return confirm('Esta seguro que desea eliminar los datos')"><i class="fas fa-trash-alt fa-2x"  style=" color:#FF0000"></i></a></td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class = "container mt-5 text-center" align="left">
        <a href="{{path('inicio')}}" class="btn btn-outline-info btn-lg" role="button">VOLVER</a>
    </div>
</div>
{% endif %} 
{% endblock %}