{% extends 'base.html.twig' %}

{% block title %}Cargar Departamentos Administrativos{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}} 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid" >
            <div >
                <a title="INICIO UNRAF" href="{{path('inicio')}}">
                    <img style="vertical-align: top; margin: 3px;" src="https://www.unraf.edu.ar/images/logos/UNRaf_03.png" alt="UNRaf 03" width="198" height="25">  
                </a>
            </div>
        </div>
    </nav>
     <div class="container h-100">
         <div class="row h-100 justify-content-center align-item-center">
                <div class="col-10 bg-white rounded my-3 p-5">
                        <div class ="container mt-5">
            
                            <h1 class = "text-center text-info">Alta Empresa</h1> 
                            {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                            <div class = "container mt-5">
                                <h6 class = "text-left text-info">Nombre</h6>
                                {{ form_widget(formulario.nombre, {attr: {class: 'form-control camposEstandar', placeholder: 'Nombre'}})}}
                            </div>
                            <div class = "container mt-5">
                                <h6 class = "text-left text-info">encargado</h6>
                                {{ form_widget(formulario.encargado, {attr: {class: 'form-control camposEstandar', placeholder: 'Encargado'}})}}
                            </div>
                            <div class = "container mt-5">
                                <h6 class = "text-left text-info">Telefono</h6>
                                {{ form_widget(formulario.telefono, {attr: {class: 'form-control camposEstandar', placeholder: 'Telefono'}})}}
                            </div>
                            <div class = "container mt-5">
                                <h6 class = "text-left text-info">Email</h6>
                                {{ form_widget(formulario.email, {attr: {class: 'form-control camposEstandar', placeholder: 'Email'}})}}
                            </div>
                            
                            
                            
                            <div class = "container mt-5 text-center" align="left">
                                {{ form_widget(formulario.GUARDAR, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
                                <a href="{{path('inicio')}}" class="btn btn-outline-info btn-lg" role="button">VOLVER</a>
                            </div>
                            {{ form_end(formulario) }}
                        </div>
                </div>
            </div>
        </div>
</div>
{% endif %} 
{% endblock %}