{% extends 'base.html.twig' %}
 
{% block title %}Datos de la Organización
{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}
    <div class="container text-center bg-white" id="convenioFinalizado">
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 bg-info mt-3" >
                        <div class="well">
                            <h1 class = "font-weight-bold text-center text-white" >{{empresa.getNombre()}}</h1>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well" style="margin-top: 5%;">
                       <i class="fas fa-file-signature fa-5x"></i>
                    </div>
                    </div>
                    <div class="col-sm-9">
                    <div class="well bg-info" style="margin-top: 5%;">
                       <h3 class = "font-weight-bold text-center text-white">{{empresa.getRazonSocial()}}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well"style="margin-top: 5%;">
                       <i class="fas fa-money-check-alt fa-5x"></i>
                    </div>
                    </div>
                    <div class="col-sm-9">
                    <div class="well bg-info" style="margin-top: 5%;">
                       <h3 class = "font-weight-bold text-center text-white">{{empresa.getSituaciondeIva()}} </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well"style="margin-top: 5%;">
                       <i class="far fa-id-card fa-5x"></i>
                    </div>
                    </div>
                    <div class="col-sm-9">
                    <div class="well bg-info" style="margin-top: 5%;">
                       <h3 class = "font-weight-bold text-center text-white">{{empresa.getCuit()}}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well"style="margin-top: 5%;">
                        <i class="fas fa-globe-americas fa-5x"></i>
                    </div>
                    </div>
                    <div class="col-sm-9">
                    <div class="well bg-info" style="margin-top: 5%;">
                       <h3 class = "font-weight-bold text-center text-white">{{empresa.getProvincia()}}</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="well"style="margin-top: 5%;">
                        <i class="fas fa-map fa-5x"></i>
                    </div>
                    </div>
                    <div class="col-sm-9">
                    <div class="well bg-info" style="margin-top: 5%;">
                       <h3 class = "font-weight-bold text-center text-white">{{empresa.getLocalidad()}}</h3>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <div class="well"style="margin-top: 5%;">
                        <i class="fas fa-map-marked-alt fa-5x"></i>
                    </div>
                    </div>
                    <div class="col-sm-9">
                    <div class="well bg-info " style="margin-top: 5%;">
                       <h3 class = "font-weight-bold text-center text-white">{{empresa.getDireccion()}}</h3>
                    </div>
                </div>
            </div>
           
            
        </div>
    </div>

    <div class="container text-center bg-white mt-3" id="convenioFinalizado">
    <h2 class = "text-center text-info"> Contacto</h2>
        <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Telefono</th> 
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for contacto in empresa.contacto %}
                    <tr>
                                                
                        <td>{{ contacto.nombre }}</td>
                        <td>{{ contacto.apellido }}</td>
                        <td>{{ contacto.telefono }}</td>
                        <td>{{ contacto.email }}</td>
                            
                            
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        
    </div>
    <div class="container text-center" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="container-fluid">
             <a href="javascript:history.back()" class="btn btn-outline-info btn-lg" role="button">VOLVER</a>
        </div>
    </div>


{% endif %}    
    
{% endblock %}