{% extends 'base.html.twig' %}

{% block title %}Ver Organizaciones Inactivas{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}} 
<div class='container-fluid'>
    <h2 style="text-align: center; color: #0F9FA8">Ver Organización Inactivas</h2>
    <table class="table table-striped">
        <thead>
            <tr style="background-color: #0F9FA8">
                <th scope="col">Nombre</th>
                <th scope="col">Cuit</th>
                <th scope="col">Fecha Modificacion</th>
                <th scope="col">Ultimo Usuario</th>
                
                {#<th scope="col">Fecha Modificacion</th>
                <th scope="col">Ultimo Usuario</th>#}
                <th scope="col">Ver Datos</th> 
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
                
            </tr>
        </thead>
        <tbody>
            {% for empresas in empresa %}
                <tr>
                                            
                    <td>{{ empresas.nombre }}</td>
                        <td>{{ empresas.cuit }}</td>
                        
                        <td>{{ empresas.fechaModificacion|date('d-m-Y')}}</td>
                        <td>{{ empresas.ultimoUsuario}}</td>  
                        {#<td>{{ empresas.fechaModificacion|date('d-m-Y')}}</td>
                        <td>{{ empresas.ultimoUsuario}}</td> #}
                        <td><a href="{{path('verDatosEmpresa', {'id': empresas.id})}}"><i class="far fa-file fa-2x" style="color:#FEB413;"></i></a></td>                  
                        <td><a href="{{path('modificarEmpresa', {'id': empresas.id})}}"><i class="far fa-edit fa-2x" style=" color:#23C200"></i></a></td>
                        <td><a href="{{path('eliminarEmpresaInactiva', {'id': empresas.id})}}" onclick="return confirm('Esta seguro que desea eliminar los datos')"><i class="fas fa-trash-alt fa-2x"  style=" color:#FF0000"></i></a></td>
                        
                    </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class = "container mt-5 text-center" align="left">
        <a href="{{path('inicio')}}" class="btn btn-outline-info btn-lg" role="button">VOLVER</a>
    </div>
</div>
{% endif %} 
{% endblock %}
{% block javascripts %}
              <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-search-pseudo-elements></script>
                
{% endblock %} 