{% extends 'base.html.twig' %}

{% block title %}Registrar Pasante{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}} 
<div class="example-wrapper">

    <div class="container h-100">
         <div class="row h-100 justify-content-center align-item-center">
                <div class="col-10 bg-white rounded my-3 p-5">
                        <div class ="container mt-5" id="convenioFinalizado">
                            <h1 class = "text-center text-info">Cargar Archivos</h1> 
                            {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                                <div class="row">
                                    <div class="col-sm-6">
                                            <h6 class = "text-left text-info">Archivos</h6>
                                            {{ form_widget(formulario.archivos) }}
                                            
                                    </div>
                                    <div class="col-sm-6">
                                        
                                       
                                    </div>
                                    
                                </div>
                               
            
                            
                            <div class = "container mt-5 text-center" align="left">
                                {{ form_widget(formulario.Guardar, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
                                <a href="{{path('inicio')}}" class="btn btn-outline-info btn-lg" role="button">VOLVER</a>
                            </div>
                            
                            {{ form_end(formulario) }}
                             
                        </div>
                </div>
            </div>
        </div>
</div>
{% endif %} 
{% endblock %}
{% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
            <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-search-pseudo-elements></script>

{% endblock %}