{% extends 'base.html.twig' %}
 
{% block title %}Datos de la Organización
{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}
    <div class="container text-center bg-white" id="convenioFinalizado">
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 bg-info mt-3">
                        <div class="well">
                            <h1 class = "font-weight-bold text-center text-white">{{pasante.getNombre()}} {{pasante.getApellido()}}</h1>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 mt-3">
                    <div class="well">
                        <i class="fas fa-book-reader fa-5x"></i>
                    </div>
                    </div>
                    <div class="col-sm-9 mt-3">
                    <div class="well bg-info" >
                       <h3 class = "font-weight-bold text-center text-white">{{pasante.getLegajo()}}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 mt-3">
                    <div class="well">
                        <i class="fas fa-id-badge fa-5x"></i>
                    </div>
                    </div>
                    <div class="col-sm-9 mt-3">
                    <div class="well bg-info">
                       <h3 class = "font-weight-bold text-center text-white">{{pasante.getcuil()}}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 mt-3">
                    <div class="well">
                       <i class="far fa-id-card fa-5x"></i>
                    </div>
                    </div>
                    <div class="col-sm-9 mt-3">
                    <div class="well bg-info" >
                       <h3 class = "font-weight-bold text-center text-white">{{pasante.getDni()}}</h3>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-3 mt-3 mb-3">
                    <div class="well">
                        <i class="fas fa-user-check fa-5x"></i>
                    </div>
                </div>
                <div class="col-sm-9 mt-3 mb-3">
                    <div class="well bg-info" >
                       <h3 class = "font-weight-bold text-center text-white">{{pasante.getEstadoPasante()}}</h3>
                    </div>
                </div>
            </div>
           
            
        </div>
    </div>

    <div class="container text-center bg-white mt-3" id="convenioFinalizado">
         <h3 class = "font-weight-bold text-center text-info mt-2">Archivos</h3>
        <div class="container-fluid">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Nombre Archivo</th>
                    <th scope="col">Ver Archivo</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for archivo in pasante.getArchivos() %}
                    <tr>
                                  
                        <td><i class="fas fa-file-archive"></i> </td>             
                        <td>{{ archivo.nombreArchivo }}</td>
                        <td><a href="{{path('verPDFPasante', {'id': archivo.id})}}"  class = " text-info" target="_blank">ver pdf</a></td>

                            
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <div class="container text-center bg-white mt-3" id="convenioFinalizado">
        <h3 class = "font-weight-bold text-center text-info mt-2">Contactos</h3>
        <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Telefono</th> 
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for contacto in pasante.contacto %}
                    <tr>
                                                
                        <td>{{ contacto.nombre }}</td>
                        <td>{{ contacto.apellido }}</td>
                        <td>{{ contacto.telefono }}</td>
                        <td>{{ contacto.email }}</td>
                            
                            
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        
    </div>
    <div class="container text-center" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="container-fluid">
             <a href="javascript:history.back()" class="btn btn-outline-info btn-lg" role="button">VOLVER</a>
        </div>
    </div>
   

    {% endif %} 
{% endblock %}
{% block javascripts %}
              <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-search-pseudo-elements></script>
               
{% endblock %} 