{% extends 'base.html.twig' %}

{% block title %}Modificar Pasante{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}

<div class="container-fluid"  >

            <div class ="container bg-white" id="convenioFinalizado" >
               <h1 class = "text-center text-info">Registrar Pasante</h1> 
                            {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                                <div class="row">
                                    <div class="col-sm-6 mt-3">
                                         <div class = "container">
                                            <h6 class = "text-left text-info">Nombre</h6>
                                            <label class="form-control camposEstandar"style="background-color: lightgray;" for="country">{{pasante.getNombre()}}</label> 
                                        </div>
                                    </div> 
                                    <div class="col-sm-6 mt-3">
                                        
                                        <div class = "container">
                                            <h6 class = "text-left text-info">Apellido</h6>
                                            <label class="form-control camposEstandar"style="background-color: lightgray;" for="country">{{pasante.getApellido()}}</label> 
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                               <div class="row">
                                    <div class="col-sm-6 mt-3">
                                        <div class = "container">
                                            <h6 class = "text-left text-info">Cuit/Cuil</h6>
                                            {{ form_widget(formulario.cuil)}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mt-3">
                                         <div class = "container">
                                            <h6 class = "text-left text-info">Dni</h6>
                                            <label class="form-control camposEstandar" style="background-color: lightgray;" for="country">{{pasante.getDni()}}</label> 
                                        </div>
                                    </div>
                                
                                </div>
                                 <div class="row">
                                    <div class="col-sm-6 mt-3">
                                        <div class = "container">
                                            <h6 class = "text-left text-info">Legajo</h6>
                                            {{ form_widget(formulario.legajo)}}
                                        </div>

                                    </div>
                                    <div class="col-sm-6 mt-3">
                                        <div class = "container">
                                            <h6 class = "text-left text-info">Provincia</h6>
                                            {{ form_widget(formulario.provincia, {attr: {class: 'form-control camposEstandar', placeholder: 'Provincia'}})}}
                                        </div>
                                    </div>
                                
                                </div>
                                 <div class="row">
                                    <div class="col-sm-6 mt-3">
                                        <div class = "container">
                                            <h6 class = "text-left text-info">Localidad</h6>
                                            {{ form_widget(formulario.localidad, {attr: {class: 'form-control camposEstandar',placeholder: 'Localidad'}})}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mt-3">
                                        <div class = "container">
                                            <h6 class = "text-left text-info">Dirección</h6>
                                            {{ form_widget(formulario.direccion, {attr: {class: 'form-control camposEstandar', placeholder: 'Dirección'}})}}
                                        </div>
                                    </div>
                                
                                </div>
                        <h1 class = "text-center mt-3 text-info">Contacto</h1> 
                        <div class = "row justify-content-center">
                            <div class = "col-sm-6">
                                <ul style="list-style:none;" class="contacto" data-prototype="{{form_widget(formulario.contacto.vars.prototype)|e('html_attr') }}">
                                    <li data-collection-holder-class="contacto" style="display:none;" >{{ form_widget(formulario.contacto)}}</li>
                                    {{ form_widget(formulariocontacto)}}
                                    
                                    <br>
                                </ul>
                            </div>
                        </div>
                        <div class ="text-center">
                            <button type="button" class="add_item_link btn btn-outline-info text-center" data-collection-holder-class="contacto">Agregar Contacto</button>
                        </div>

                        <div class ="row mt-3 " style="text-align:center;">
                                <table class="table table-striped" style="text-align:center;">
                                            <thead>
                                                <tr>
                                                    <th  scope="col">Nombre</th>
                                                    <th scope="col">Apellido</th>
                                                    <th scope="col">Telefono</th> 
                                                    <th scope="col">Email</th>

                                                    
                                                    <th scope="col">Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for contactos in contacto %}
                                                    <tr>
                                                                                
                                                        <td >{{ contactos.nombre}}</td>
                                                        <td >{{ contactos.apellido}}</td>
                                                        <td >{{ contactos.email}}</td>
                                                        <td >{{ contactos.telefono}}</td>
                                                            
                                                        <td><a href="{{path('eliminarContactoPasante', {'id': contactos.id})}}">Eliminar</a></td>  
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                        </div>
                        <div class = "container mt-3 mb-3 text-center" align="left">
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <div class = "container ">
                                    {{ form_widget(formulario.Guardar, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
                                </div>
                            
                            </div>
                            <div class="col-sm-6">
                                <div class = "container mt-2 ">
                                    <a href="{{path('inicio')}}" class="btn btn-outline-info btn-lg" role="button">VOLVER</a>
                                </div>
                            </div>
                        
                        </div>
                            
                            {{ form_end(formulario) }}
                <br>
    </div>
</div>




 {% endif %} 
{% endblock %}
{% block javascripts %}
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-search-pseudo-elements></script>
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-search-pseudo-elements></script>
                <script>
            jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            var $tagsCollectionHolder = $('ul.contacto');
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $tagsCollectionHolder.data('index', $tagsCollectionHolder.find('input').length);

            $('body').on('click', '.add_item_link', function(e) {
                var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
                // add a new tag form (see next code block)
                addFormToCollection($collectionHolderClass);
                
            })
            $('body').on('click', 'remove_item_link', function(e) {
                $collectionHolder = $('ul.contacto');

                 $collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            
            });
                
            })
        });
        </script>
    
       <script> 
       function addFormToCollection($collectionHolderClass) {
                // Get the ul that holds the collection of tags
                var $collectionHolder = $('.' + $collectionHolderClass);

                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                var newForm = prototype;
                // You need this only if you didn't set 'label' => false in your tags field in TaskType
                // Replace '__name__label__' in the prototype's HTML to
                // instead be a number based on how many items we have
                // newForm = newForm.replace(/__name__label__/g, index);

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                newForm = newForm.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li></li>').append(newForm);
                // Add the new form at the end of the list
                $collectionHolder.append($newFormLi)
                addTagFormDeleteLink($newFormLi);
            }</script>
            <script>
            function addTagFormDeleteLink($tagFormLi) {
                var $removeFormButton = $('<button class="btn btn-outline-info mt-2 mb-2" type="button">Eliminar Contacto</button>');
                $tagFormLi.append($removeFormButton);

                $removeFormButton.on('click', function(e) {
                    // remove the li for the tag form
                    $tagFormLi.remove();
                });
            }</script>
{% endblock %}