{% extends 'base.html.twig' %}

{% block title %}Abrir expediente{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}
<div class ="container bg-white" id="convenioFinalizado" >
                <h1 class = "text-center mt-2 text-info">Abrir expediente</h1> 
                {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                    <div class="row ">
                            
                        <div class="col-sm-6 mt-5">
                            <div class = "container ">
                                    <h6 class = "text-left text-info">Seguimiento del Mes</h6>
                                    {{ form_widget(formulario.isSeguimientodelMes)}}
                            </div>
                        </div>
                        <div class="col-sm-6 mt-5">
                            
                            <div class = "container ">
                                    <h6 class = "text-left text-info text-center">Informe Final de Seguimiento</h6>
    
                                    {{ form_row(formulario.isInformeSeguimiento)}}
                                
                            </div>
                        </div>
                    </div>
                    
                   

                   <div class="row ">
                            
                        <div class="col-sm-4 mt-3">
                            <div class = "container text-center">
                                     <a href="{{path('verDatosPasantiaCargada',{'id': pasantia.id})}}" class="btn btn-outline-info btn-lg" role="button">Volver a la Pasantía</a>
                                   
                                    
                                    
                            </div>
                        </div>
                        <div class="col-sm-4 mt-3">
                            
                            <div class = "container text-center ">
                                   
                                    
                                    
                            </div>
                        </div>
                         <div class="col-sm-4 mt-3">
                            
                            <div class = "container text-center ">
                                    
                                     {{ form_widget(formulario.Actualizar, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
                                    
                            </div>
                        </div>
                        
                </div>
                   

               



            {{ form_end(formulario) }}
            <br>
            
             


</div>
<br><br>

 {% endif %} 
{% endblock %}