<!DOCTYPE html>
<html>
    <head>
     
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
        
        
        <title>{% block title %}UNRaf{% endblock %}</title>
      
        {% block stylesheets %}
                <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
                
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
                <link href="{{asset("css/estilos.css")}}" rel="stylesheet" type="text/css">
               <script src="{{ asset('js/funcionesGenerales.js') }}"></script>
        {% endblock %}
        
    </head>
    {% if is_granted('ROLE_ADMIN') %}  
    {% block body %}      
    <body>  
            <nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 mb-5 bg-white ">
                <div class="container-fluid" >
               
                    <div class="container-fluid" id="sombra" >
                        <a title="INICIO UNRAF" href="{{path('inicio')}}">
                            <img style="vertical-align: top; margin: 3px;" class="box" src="https://www.unraf.edu.ar/images/logos/UNRaf_03.png" alt="UNRaf 03" width="50%" >  
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" style="margin-right: 60px;" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Organizaciones
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                
                                    <a class="dropdown-item" href="{{path('registroEmpresa')}}">Registrar Organización</a>
                                    <div class="dropdown-divider"></div>
                                    {#<a class="dropdown-item" href="{{path('listarEmpresa')}}">Ver Organización</a>#}
                                    <a class="dropdown-item" href="{{path('listarEmpresaActiva')}}">Ver Organizaciones Activas</a>
                                    <a class="dropdown-item" href="{{path('listarEmpresaInactivas')}}">Ver Organizaciones Inactivas</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pasantías
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="{{path('nuevaPasantia')}}">Nueva Pasantía </a>
                                <div class="dropdown-divider"></div>
                                
                                <a class="dropdown-item" href="{{path('listarPasantiaActivas')}}">Ver Pasantías Activas</a>
                                <a class="dropdown-item" href="{{path('listarPasantiaInactiva')}}">Ver Pasantías Inactivas</a>
                                <a class="dropdown-item" href="{{path('listarPasantiaEnProceso')}}">Ver Pasantías En Proceso</a>
                                <a class="dropdown-item" href="{{path('listarPasantiarRenovar')}}">Ver Pasantías a Renovar</a>
                                <a class="dropdown-item" href="{{path('listarPasantiaRechazada')}}">Ver Pasantías  Rechazadas</a>
                                
                            </div>
                                
                            </li>
                             <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Convenios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="{{path('recepcionConvenio')}}">Nuevo Convenio</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{path('listarConvenioActivo')}}">Ver Convenio Activo</a>
                                <a class="dropdown-item" href="{{path('listarConvenioInactivo')}}">Ver Convenio Inactivo</a>
                                <a class="dropdown-item" href="{{path('listarConvenioEnProceso')}}">Ver Convenio En Proceso</a>
                                
                                
                                <a class="dropdown-item" href="{{path('listarConvenioaRenovar')}}">Ver Convenio a Renovar</a>
                            </div>
                            </li>
                            
                            <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pasantes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            
                                <a class="dropdown-item" href="{{path('registroPasante')}}">Registrar Pasante</a>
                                <div class="dropdown-divider"></div>
                                {#<a class="dropdown-item" href="{{path('listarEmpresa')}}">Ver Pasante</a>
                                <a class="dropdown-item" href="{{path('·')}}">Ver Organizaciones Activos</a>#}
                                <a class="dropdown-item" href="{{path('listarPasanteActivos')}}">Ver Pasantes Activos</a>
                                <a class="dropdown-item" href="{{path('listarPasantesInactivos')}}">Ver Pasantes Inactivos</a>
                                
                            </div>
                            </li>

                            <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Departamentos</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="{{path('registroAreaUnRaf')}}">Registro Departamentos Administrativos</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{path('listarAreaUnRaf')}}">Ver Departamentos Administrativos</a>
                            </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link " href="{{path('backIntranet')}}"><i class="fas fa-sign-out-alt fa-1x"></i></span></a>
                            </li>
                            
                            
                            
                            
                        </ul>
                         
                    </div>
                </div>
            </nav>
            
  
          {% endblock %}
            
        </body>    

        
       {% for message in app.flashes('seguimientoPasanteMes') %}

            <div class="alert alert-warning alert-dismissible mt-4 mb-3">
                <i class="far fa-bell"></i>
                {{ message|raw}}

                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>


            </div>

        {% endfor %}
        {% for message in app.flashes('renovacionPasantia') %}

            <div class="alert alert-warning alert-dismissible mt-4 mb-3">
                <i class="far fa-bell"></i>
                {{ message|raw}}

                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>


            </div>

        {% endfor %}

        {% for message in app.flashes('renovacionconvenio') %}
            <div class="alert alert-warning alert-dismissible mt-4 mb-3">
                <i class="far fa-bell"></i>
                {{ message|raw}}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

            </div>
        {% endfor %}
        {% for message in app.flashes('pagoVencido') %}
            <div class="alert alert-warning alert-dismissible mt-4 mb-3">
                <i class="far fa-bell"></i>
                {{ message|raw}}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

            </div>
        {% endfor %}
        {% endif %} 
        {% for message in app.flashes('info') %}

            <div class="alert alert-success alert-dismissible mt-4 mb-3">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div  id="danger" class="alert alert-danger  "  >
                <a href="#" class="close" id="close" data-dismiss="alert"   aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-search-pseudo-elements></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" data-search-pseudo-elements></script>
            <script type="text/javascript">
                function preventBack() { window.history.forward(); }
                setTimeout("preventBack()", 1);
                window.onunload = function () { null };
            </script>
        {% endblock %} 
        
        
</html>
