{% extends 'base.html.twig' %}

{% block title %}Cargar Pasante{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}

<div class ="container bg-white" id="convenioFinalizado" >
                <h1 class = "text-center mt-2 text-info">Cargar Pasante</h1> 
                <div class="row ">
                      
                        <div class="col-sm-4 mt-3">
                            <div class = "container">
                            {{ form_start(formularioBuscador, {'enctype':'multipart/form-data'})}}      
                                {{ form_widget(formularioBuscador.search)}}
                                {{ form_widget(formularioBuscador.Buscar)}}
                            {{ form_end(formularioBuscador) }}
                                    
                            </div>
                        </div>
                        <div class="col-sm-4 mt-3">
                            
                            <div class = "container text-center ">
                                   
                                   
                                    
                            </div>
                        </div>
                         <div class="col-sm-4 mt-3">
                            
                            <div class = "container text-center ">
                                    
                                 
                                    
                            </div>
                        </div>
                        
                </div>
                {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                    <div class="row ">
                            
                        <div class="col-sm-6  mt-3">
                            <div class = "container ">
                               
                                    <h2 class = "text-center text-info">Cargar Pasante</h2>  
                                                <table class="table table-striped">
                                                        <thead>
                                                            <tr style="background-color: #0F9FA8">
                                                                <th scope="col">Id</th>
                                                                <th scope="col">Nombre</th>
                                                                <th scope="col">Apellido</th>
                                                                <th scope="col">Legajo</th>
                                                                
                                                                                    
                                                                <th scope="col">Ver Pasante</th>
                                                                <th scope="col">Agregar</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for pasantes in pasante %}
                                                                <tr>
                                                                       <td>{{ pasantes.getId()}}</td>                     
                                                                        <td>{{ pasantes.getNombre() }}</td>
                                                                        <td>{{ pasantes.getApellido()}}</td> 
                                                                        <td>{{ pasantes.getLegajo()}}</td>
                                                                        
                                                                                        
                                                                        <td><a href="{{path('verDatosPasante',{'id': pasantes.id})}}"><i class="far fa-file fa-2x" style="color:#FEB413;"></i></a></td>
                                                                        <td><a href="{{path('agregarPasantedePasantia',{'id': pasantia.id, 'idPasante':  pasantes.id})}}"><i class="fas fa-user-plus fa-2x"></i></a></td>
                                                                    </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-3">
                            
                            <div class = "container ">
                                     <h2 style="text-align: center; color: #0F9FA8">Pasantes Cargados</h2>
                                        <table class="table table-striped">
                                                <thead>
                                                    <tr style="background-color: #0F9FA8">
                                                        <th scope="col">Id</th>
                                                        <th scope="col">Nombre</th>
                                                        <th scope="col">Apellido</th>
                                                        <th scope="col">Legajo</th>
                                                                            
                                                        <th scope="col">Ver Pasante</th>
                                                        <th scope="col">Eliminar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for pasantes in pasantia.pasante %}
                                                        <tr>
                                                                <td>{{ pasantes.getId()}}</td>                      
                                                                <td>{{ pasantes.getNombre() }}</td>
                                                                <td>{{ pasantes.getApellido()}}</td> 
                                                                <td>{{ pasantes.getLegajo()}}</td>
                                                                                
                                                                <td><a href="{{path('verDatosPasante',{'id': pasantes.id})}}"><i class="far fa-file fa-2x" style="color:#FEB413;"></i></a></td>
                                                                <td><a href="{{path('eliminarPasanteCargado',{'id': pasantia.id, 'idPasante':  pasantes.id})}}"><i class="fas fa-trash-alt fa-2x"  style=" color:#FF0000"></i></a></td>
                                                            </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                
                            </div>
                        </div>
                    </div>           
                   

                   <div class="row ">
                            
                        <div class="col-sm-4 mt-3">
                            <div class = "container text-center">
                                
                                   <a href="{{path('actaCompromiso',{'id': pasantia.id})}}" class="btn btn-outline-info btn-lg" role="button">Atras</a>
                                    
                                    
                            </div>
                        </div>
                        <div class="col-sm-4 mt-3">
                            
                            <div class = "container text-center ">
                                   
                                   
                                    
                            </div>
                        </div>
                         <div class="col-sm-4 mt-3">
                            
                            <div class = "container text-center ">
                                    
                                     {{ form_widget(formulario.Finalizar, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
                                    
                            </div>
                        </div>
                        
                </div>
                   

                    <div class = "container mt-3 mb-3 text-center" align="left">
                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <div class = "container ">
                                    <div class="progress" style="height: 40px; margin-top: 50px;">
                                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="110" aria-valuemin="0" aria-valuemax="100">90%</div>
                                    </div>
                            
                                </div>

                        
                            </div>
                        </div>
                        
                    </div>
               



            {{ form_end(formulario) }}
            <br>
            
             


</div>
<br><br>


 {% endif %} 

{% endblock %}