{% extends 'base.html.twig' %}

{% block title %}Enviar Información de Pasantía{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}
<h1 class = "text-center mt-2 text-info">Nueva Pasantía</h1> 
<div class ="container bg-white" id="convenioFinalizado" >
                <h1 class = "text-center mt-2 text-info">Solicitar Documentación de la Pasantía</h1> 
                {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                    <div class="row ">
                            
                        <div class="col-sm-6 mt-5">
                            <div class = "container ">
                                   <h6 class = "text-left text-info">Nombre Pasantia</h6>
                                        {{ form_widget(formulario.nombre)}}
                            </div>
                        </div>
                        <div class="col-sm-6 mt-5">
                            
                            <div class = "container ">
                                    <h6 class = "text-left text-info">Area Actual</h6>
                                        {{ form_widget(formulario.areaActual)}}
                                
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                            
                        <div class="col-sm-6 mt-4">
                            <div class = "container ">
                                <h6 class = "text-left text-info">Siguiente paso a realizar - Documentación Solicitada </h5>
                                        <h6 class = "text-left text-info">Area Encargada</h6>
                                        {{ form_widget(formulario.areaEncargada)}}
                                
                            </div>
                        </div>
                        <div class="col-sm-6 mt-5">
                            
                            <div class = "container ">

                                    <h6 class = "text-center text-info">Contacto Realizado</h6>
                                    {{ form_widget(formulario.isEnviarinformaciondePasantia)}}
                
                            </div>
                        </div>
                    </div>
                   

                   <div class="row ">
                            
                        <div class="col-sm-4 mt-5">
                            <div class = "container text-center">
                                     
                                   
                                    
                                    
                            </div>
                        </div>
                        <div class="col-sm-4 mt-5">
                            
                            <div class = "container text-center ">
                                    {{ form_widget(formulario.Iniciar, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
                                    

                            </div>
                        </div>
                         <div class="col-sm-4 mt-5">
                            
                            <div class = "container text-center ">
                                    
                                     
                                    
                                
                            </div>
                        </div>
                        
                </div>
                   

                    <div class = "container mt-2 mb-3 text-center" align="left">
                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <div class = "container ">
                                    <div class="progress" style="height: 40px; margin-top: 50px;">
                                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="110" aria-valuemin="0" aria-valuemax="100">0%</div>
                                    </div>
                            
                                </div>

                        
                            </div>
                        </div>
                        
                    </div>
               



            {{ form_end(formulario) }}
            <br>
            
             


</div>
<br><br>
{% endif %} 
{% endblock %}