{% extends 'base.html.twig' %}
 
{% block title %}Pasantía Cargada{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
<script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 1);
        window.onunload = function () { null };
    </script>
{{parent()}}
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 1);
        window.onunload = function () { null };
</script>
 <h1 class = "text-center text-info">{{pasantia.getNombre()}}</h1>
<div class ="container bg-white " id="convenioFinalizado" >
    <div class="container text-center mt-2" id="pasantiaCargada">
        <i class="far fa-check-circle " style="color: green; font-size: 200px;"></i>
        </br> 
        <h4 style=" color: green; font-size: 50px;">Pasantía Cargada</h4>
        
        <a href="{{path('verDatosPasantiaCargada',{'id': pasantia.id})}}" class="btn btn-outline-info btn-lg" role="button">Ver Datos</a>
        </br>
        <div class="progress" style="height: 40px; margin-top: 50px;"> 
        
        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
        </div>
        <br>
    </div>
</div>
<br><br>
{% endif %} 
{% endblock %}
{% block javascripts %}
              <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-search-pseudo-elements></script>
                
{% endblock %} 