{% extends 'base.html.twig' %}

{% block title %}Recibir y Verificar Documentación{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}

{{parent()}}

<div class ="container bg-white" id="convenioFinalizado" >
                <h1 class = "text-center mt-2 text-info">Recibir y Verificar Documentación</h1> 
                {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                    <div class="row ">

                        <div class="col-sm-6 mt-2">
                            <div class = "container ">
                                <h5 class = "text-center text-info">Area Actual</h5>
                                {{ form_widget(formulario.areaActual)}}

                            </div>
                        </div>
                        <div class="col-sm-6 mt-5 ">
                            <div class = "container ">
                            
                                    
                            </div>
                        </div>
                        
                    </div>
                    <div class="row ">
                    
                            <div class="col-sm-3 mt-5">
                             
                                
                                    <h6 class = "text-center text-info">Nota de Solicitud de Pasante</h6>
                                    {{ form_widget(formulario.isNotaSolicituddePasante)}}
                               
                            
                            </div>
                        <div class="col-sm-3 mt-5">
                            
                                <h6 class = "text-center text-info">Constancia de inscripción en AFIP</h6>
                                 {{ form_widget(formulario.isConstanciadeIncripcionenAfip)}}
                               
                                                
                            
                        </div>
                        <div class="col-sm-3 mt-5">

                                    <h6 class = "text-center text-info">DDJJ</h6>
                                    {{ form_widget(formulario.isDDJJ)}}
                            
                        </div>
                        <div class="col-sm-3 mt-5 ">
                            
                                <h6 class = "text-center text-info">¿Se envió la solicitud al Rector?</h6>
                                {{ form_widget(formulario.isEnviosolicitudRector)}}
                               
                                                
                            
                        </div>
                        
                        
                    </div>
                    
                    <div class="row ">
                            
                        <div class="col-sm-4 mt-5">
                            <div class = "container ">
                                <h5 class = "text-left text-info">Siguiente paso a realizar - Solicitar aprobación de pasantía </h5>
                                <h6 class = "text-left text-info">Area Encargada</h6>
                                {{ form_widget(formulario.areaEncargada)}}
                            </div>
                        </div>
                        <div class="col-sm-4 mt-4">
                            
                            <div class = "container ">
                                  
                                
                            </div>
                        </div>
                         <div class="col-sm-4 mt-4">
                            
                            <div class = "container ">
                                  
                                
                            </div>
                        </div>
                    </div>
                   
                    <div class="row ">
                            
                        <div class="col-sm-4 mt-3">
                            <div class = "container text-center">
                                
                                <a href="{{path('listarPasantiaEnProceso')}}" class="btn btn-outline-info btn-lg" role="button">Ver Pasantías En Proceso</a>
                            </div>
                        </div>
                        <div class="col-sm-4 mt-3">
                            
                            <div class = "container text-center ">
                                   
                                    
                                    
                            </div>
                        </div>
                         <div class="col-sm-4 mt-3">
                            
                            <div class = "container text-center ">
                                    {{ form_widget(formulario.Siguiente, {attr: {class: 'btn btn-outline-info btn-lg'}})}} 
                                     
                            </div>
                        </div>
                        
                </div>
                   
                    <div class = "container mt-2 mb-3 text-center" align="left">
                        <div class="row ">
                            <div class="col-sm-12">
                                <div class = "container ">
                                    <div class="progress" style="height: 40px; margin-top: 50px;">
                                        <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="110" aria-valuemin="0" aria-valuemax="100">10%</div>
                                    </div>
                            
                                </div>

                        
                            </div>
                        </div>
                        
                    </div>
               



            {{ form_end(formulario) }}
            <br>
            
             


</div>
<br><br>

{% endif %} 


{% endblock %}