{% extends 'base.html.twig' %}

{% block title %}Solicitar aprobación de pasantía{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
<script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 1);
        window.onunload = function () { null };
    </script>
{{parent()}}    

<div class ="container bg-white" id="convenioFinalizado" >
                <h1 class = "text-center mt-2 mb-2 text-info">Solicitar aprobación de pasantía</h1> 
                {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
                    <div class="row mt-3">
                        
                        <div class="col-sm-6 mt-2">
                            <div class = "container ">
                                    <br>
                                    <h6 class = "text-left text-info">Area Actual</h6>
                                    {{ form_widget(formulario.areaActual)}}
                            </div>
                        </div>
                        <div class="col-sm-6 ">
                            
                            <div class = "container ">
                                    <h5 class = "text-left text-info">Siguiente paso a realizar - Abrir expediente </h5>
                                    <h6 class = "text-left text-info">Area Encargada</h6>
                                    {{ form_widget(formulario.areaEncargada)}}    
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                            
                        <div class="col-sm-6 mt-4">
                            <div class = "container ">
                                <h6 class = "text-left text-info">¿Nota de solicitud de aprobación de pasantía enviada?</h6>
                                        {{ form_widget(formulario.isalizarSolicitudRector)}}
                                            
                                
                            </div>
                        </div>
                        <div class="col-sm-6 mt-4">
                            
                            <div class = "container ">
                                  <h6 class = "text-left text-info">Motivo(Dato Opcional)</h6>
                                        {{ form_widget(formulario.motivoRechazo)}}
                                
                            </div>
                        </div>
                    </div>

                   <div class="row ">
                            
                        <div class="col-sm-4 mt-3">
                            <div class = "container text-center">
                                <a href="{{path('recibiryVerificarDocumentacion',{'id': pasantia.id})}}" class="btn btn-outline-info btn-lg" role="button">Atras</a>
                                     

                            </div>
                        </div>
                        <div class="col-sm-4 mt-3">
                            
                            <div class = "container text-center ">
                                   
                        
                                    
                            </div>
                        </div>
                         <div class="col-sm-4 mt-3">
                            
                            <div class = "container text-center ">
                                    {{ form_widget(formulario.Siguiente, {attr: {class: 'btn btn-outline-info btn-lg'}})}}
  
                            </div>
                        </div>
                        
                </div>
                   

                    <div class = "container mt-3 mb-3 text-center" align="left">
                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <div class = "container ">
                                    <div class="progress" style="height: 40px; margin-top: 50px;">
                                        <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="110" aria-valuemin="0" aria-valuemax="100">20%</div>
                                    </div>
                            
                                </div>

                        
                            </div>
                        </div>
                        
                    </div>
               



            {{ form_end(formulario) }}
            <br>
            
             
</div>
<br><br>
{% endif %} 

{% endblock %}