{% extends 'base.html.twig' %}

{% block title %}Datos Pasantía{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
{{parent()}}
<div class="container text-center bg-white" id="convenioFinalizado">
        <div class="container-fluid">
            <div class="row" style="margin-top: 5%;">
                 <div class="col-sm-12 bg-info">
                        <div class="well">
                            <h1 class = "font-weight-bold text-center text-white">{{pasantia.nombre}}</h1>
                        </div>
                    </div>
                    
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="well" style="margin-top: 5%;">
                    
                        <i class="fas fa-building fa-5x"></i>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    
                    <div class="well" style="margin-top: 5%;">
                        <a href="{{path('verDatosEmpresa',{'id': pasantia.getConvenioPasantia().getEmpresa().getId()})}}" class="btn btn-outline-info btn-lg" role="button">Ver Datos de la Organización</a>
                    </div>
                </div>
                <div class="col-sm-2">
                    
                        <i class="fas fa-calendar-week fa-5x"></i>
                       <p>Título Expediente</p>
                </div>
                <div class="col-sm-4">
                    
                        <div class="well" style="margin-top: 5%;">
                            <a href="{{path('verDatosConvenioFinalizado',{'id': pasantia.getConvenioPasantia().getId()})}}" class="btn btn-outline-info btn-lg" role="button">Ver Datos del Convenio</a>
                        </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-2">
                    <div class="well"style="margin-top: 5%;">
                         <i class="fas fa-hourglass-start fa-5x"></i>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well bg-info" style="margin-top: 5%;">
                       <h3 class = "font-weight-bold text-center text-white">{{pasantia.getFechaInicioPasantia()|date('d-m-Y')}}</h3>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well"style="margin-top: 5%;">
                         <i class="fas fa-hourglass-end fa-5x"></i>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well bg-info" style="margin-top: 5%;">
                        <h3 class = "font-weight-bold text-center text-white">{{pasantia.getFechaFinPasantia()|date('d-m-Y')}}</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="well"style="margin-top: 5%;">
                          <i class="fas fa-clipboard-check fa-5x"></i>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well bg-info" style="margin-top: 5%;">
                        <h3 class = "font-weight-bold text-center text-white">{{pasantia.getEstadoPasantia()}}</h3>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well"style="margin-top: 5%;">
                         
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well bg-info" style="margin-top: 5%;">
                         
                    </div>
                </div>
            </div>
           


           
            
        </div>
        <br>
    </div>





    <div class="container text-center bg-white mt-2" id="convenioFinalizado">
        <div class="container-fluid">
         <h1 class = "font-weight-bold text-center text-info">Fecha Trámite</h1>
            <div class="row">
                <div class="col-sm-2">
                    <div class="well"style="margin-top: 5%;">
                           <i class="fas fa-hourglass-start fa-5x"></i>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well bg-info" style="margin-top: 5%;">
                      <h3 class = "font-weight-bold text-center text-white">{{pasantia.getFechaInicioTramite()|date('d-m-Y')}}</h3>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well "style="margin-top: 5%;">
                          <i class="fas fa-hourglass-end fa-5x"></i>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well bg-info" style="margin-top: 5%;">
                       <h3 class = "font-weight-bold text-center text-white">{{pasantia.getFechaFinTramite()|date('d-m-Y')}}</h3>
                    </div>
                </div>
            </div>
            
        </div>
        <br>
    </div>

    <div class="container text-center bg-white mt-2" id="convenioFinalizado">
        <div class="container-fluid">
         <h1 class = "font-weight-bold text-center text-info">Lista de Pasantes</h1>
           <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Legajo</th>
                    <th scope="col">Fecha Seguimiento</th>
                    <th scope="col">Informe Seguimiento</th> 
                    <th scope="col">Estado Pasante</th>
                    
                    
                    {#<th scope="col">Fecha Modificacion</th>
                    <th scope="col">Ultimo Usuario</th>#}
                    <th scope="col">Ver Datos</th>
                    <th scope="col">Cargar Pago</th>
                    <th scope="col">Cargar Seguimiento</th>  
                    <th scope="col">Listar Pagos</th>
                    
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for pasantes in pasantia.getPasante() %}
                    <tr>
                                                
                        <td>{{ pasantes.nombre }}</td>
                        <td>{{ pasantes.apellido}}</td>
                        <td>{{ pasantes.legajo}}</td>
                        <td>{{ pasantes.fechaSeguimiento|date('d-m-Y')}}</td>
                        <td>{{ pasantes.isInformeSeguimiento}}</td>
                        <td>{{ pasantes.estadoPasante}}</td>
                            
                            
                        
                            {#<td>{{ empresas.fechaModificacion|date('d-m-Y')}}</td>
                            <td>{{ empresas.ultimoUsuario}}</td> #}
                            <td><a href="{{path('verDatosPasante', {'id': pasantes.id})}}"><i class="far fa-file fa-2x" style="color:#FEB413;"></i></a></td>                  
                            <td><a href="{{path('cargarPagoPasante', {'id': pasantes.id,'idPasantia': pasantia.id})}}"><i class="far fa-edit fa-2x" style=" color:#23C200"></i></a></td>
                            <td><a href="{{path('seguimientoPasante', {'id': pasantes.id,'idPasantia': pasantia.id})}}"><i class="far fa-edit fa-2x" style="color:#23C200;"></i></a></td>
                            <td><a href="{{path('listarPagoporPasantiaPasante', {'id': pasantes.id,'idPasantia': pasantia.id})}}" onclick="return confirm('Esta seguro que desea eliminar los datos')"><i class="far fa-list-alt fa-2x"></i></a></td>
                            <td><a href="{{path('eliminarPasantedePasantia', {'idPasante': pasantes.id,'id': pasantia.id})}}" onclick="return confirm('Esta seguro que desea eliminar los datos')"><i class="fas fa-trash-alt fa-2x"  style=" color:#FF0000"></i></a></td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
            
        </div>
        <br>
    </div>
    
    <div class="container text-center" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="container-fluid">
             <a href="{{path('listarPasantiaActivas')}}" class="btn btn-outline-info btn-lg" role="button">VOLVER</a>
        </div>
    </div>

{% endif %} 
{% endblock %}
{% block javascripts %}
              <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
                <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-search-pseudo-elements></script>
                
{% endblock %} 